#login-title {
    text-align: center;
}

.loginLabel {
    margin-top: 0.5vh;
    font-style: italic;
}

#login-content {
    margin-top: 3vh;
    margin-left: 8%;
    margin-right: 8%;
}

#login form {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.credentials {
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.formButton {
    margin-top: 1vh;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#title {
    margin-bottom: 0.5em;
}

#logo img {
    max-width: 80%;
}