.lessonSectionTitle {
    text-align: center;
}

#lesson-content {
    text-align: justify;
}

#lesson-buttons {
    display: flex;
    flex-direction: row;
    height: 2.2em;
}

#retButton {
    margin-left: 0;
    margin-right: auto;
    width: 30%;
}

#nextButton {
    margin-left: auto;
    margin-right: 0;
    width: 30%;
}

#question-buttons {
    display: flex;
    flex-direction: row;
}

#question-buttons input {
    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3vh;
    width: 30%;
    height: 2.2em;
}