.questionNumber {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 1.5vh;
    text-align: center;
}

.questionContent {
    font-size: 1.05em;
    font-style: italic;
    text-align: center;
}