#page-title {
  text-align: center;
}

#page-content {
  margin-top: 3vh;
  margin-left:8%;
}

#page-wrap {
  overflow: auto;
}

.page-button {
  min-width: 300px;
  max-width: 400px;
  border: 1px solid #94A3B8;
  cursor: pointer;
}