#page-title {
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: #373a47;
  color: #b8b7ad;
}

#page-content {
  margin-top: 13vh;
  margin-left: 8%;
  margin-right: 8%;
  color: rgb(52, 49, 49);
}

#page-wrap {
  overflow: auto;
}

.page-button {
  min-width: 300px;
  max-width: 400px;
  border: 1px solid #94A3B8;
  cursor: pointer;
}

#return {
  display: flex;
  align-items: center;
  justify-content: center;
}

#return-button {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  height: 3em;
  margin-bottom: 5%;
  font-weight: bold;
}