#article {
    text-align: justify;
    width: 92%;
}

#article img {
    min-width: 100%;
    max-width: 100%;
}

#related-header {
    width: 92%;
    text-align: center;
    font-weight: bold;
    margin-top: 5%;
    font-size: 1.1em;
}