.exploreCard{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    background-color:grey;
    border-radius: 3%;
    flex-basis: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 2%;
}

.exploreCard h2{
    text-align: center;
    font-size: 1.3em;
}

.cardImage {
    display: flex;
    flex-basis: 30%;
}

.cardImage img {
    min-width: 40%;
    height: auto;
    margin-right: 3%;
    margin-left: auto;
    margin-right: auto;
}

.cardName {
    flex-basis: 70%;
}

.exploreCard:hover {
    background-color: #d9dbd3;
}