.container {
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }
  
  .label,
  .selector { 
    margin-right: 15px;
  }

  .firstarticle {
margin-left: 400px;
margin-top: 50px;
float: left;

  }

  .secondarticle {
margin-left: 400px;
float: left

  }
  
  .thirdarticle {
margin-left: 400px;
float: left
  }

#paragraph1 {
position: relative;
margin-left: 130px;
bottom: 130px;
max-width: 600px;
}

#paragraph2 {
position: relative;
margin-left: 130px;
bottom: 120px;
max-width: 600px;


}

#paragraph3 {
position: relative;
margin-left: 130px;
bottom: 120px;
max-width: 600px;
}