.container {
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }
  
  .label,
  .selector { 
    margin-right: 15px;
  }
  .firstarticle {
margin-left: 50px;
margin-top: 50px;
max-height: 200px;

  }

  .secondarticle {
margin-left: 50px;
max-height: 200px;
  }
  
  .thirdarticle {
margin-left: 50px;
max-height: 200px;

  }

#paragraph1 {
position: relative;
margin-left: 130px;
bottom: 150px;
max-width: 600px;
}

#paragraph2 {
position: relative;
margin-left: 130px;
bottom: 150px;
max-width: 600px;


}

#paragraph3 {
position: relative;
margin-left: 130px;
bottom: 150px;
max-width: 600px;
}

.myButton {
margin-left: 150px;
margin-bottom: 15px;
}

#news {
  width: 92%;
  text-align: center;
}

#news-header {
  text-align: center;
  font-weight: bold;
  margin-top: 5%;
  font-size: 1.1em;
}

#expand-button {
  margin-top: 3%;
}