form {
    display: flex;
    flex-direction: column;
}

.question {
    font-weight: bold;
    font-style: italic;
    margin-top: 1vh;
}

#checkAnswerButton {
    margin-top: 1vh;
    margin-left: auto;
    margin-right: 0;
    width: 30%;
    height: 2.2em;
}

#prevButton {
    margin-top: 2vh;
    margin-left: 0;
    margin-right: auto;
    width: 30%;
    height: 2.2em;
}

#nextButton {
    margin-top: 2vh;
    margin-left: auto;
    margin-right: 0;
    width: 30%;
    height: 2.2em;
}