label {
    margin-top: 0.5vh;
    font-style: italic;
}

#login {
    display: flex;
    flex-direction: column;
    width: 92%;
    text-align: center;
}

.credentials {
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.formButton {
    margin-top: 1vh;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    margin-bottom: 0.5em;
}

#logo img {
    max-width: 80%;
}