#info {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.settingsForm{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#personalization {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#saveButton {
    width: 30%;
    margin-top: 1.3em;
    margin-left: auto;
    margin-right: auto;
}